### **Adding products**

In [26]:
import json
fc = open("record.json","r")
rec=fc.read()
fc.close()
record= json.loads(rec)

In [70]:
prod_id=str(input("Enter the prod ID:"))
name = str(input("Enter the prod name:"))
category = str(input("Enter the prod category:"))
company = str(input("Enter the prod company:"))
price = int(input("Enter the prod price:")) 
quantity = int(input("Enter the prod quantity:")) 
record[prod_id] = {"Name":name,"Category":category,"Company":company,"Price":price,"Quantity":quantity}
js = json.dumps(record)
fc=open('record.json','w')
fc.write(js)
fc.close()

Enter the prod ID:130
Enter the prod name:Tedhe medhe
Enter the prod category:kurkure
Enter the prod company:balaji
Enter the prod price:10
Enter the prod quantity:120

In [71]:
record

{'101': {'Category': 'biscuit',
  'Company': 'Parle',
  'Name': 'Parle-G',
  'Price': 10,
  'Quantity': 100},
 '102': {'Category': 'water',
  'Company': 'Aqualite',
  'Name': 'Aqua',
  'Price': 20,
  'Quantity': 120},
 '103': {'Category': 'biscuit',
  'Company': 'Parle',
  'Name': '20-20',
  'Price': 5,
  'Quantity': 200},
 '104': {'Category': 'biscuit',
  'Company': 'Britania',
  'Name': 'Marie',
  'Price': 10,
  'Quantity': 200},
 '105': {'Category': 'biscuit',
  'Company': 'Britania',
  'Name': 'Good Day',
  'Price': 10,
  'Quantity': 250},
 '106': {'Category': 'cadbury',
  'Company': 'nestle',
  'Name': '5-star',
  'Price': 10,
  'Quantity': 220},
 '107': {'Category': 'cadbury',
  'Company': 'Cadburries',
  'Name': 'Dairy milk',
  'Price': 10,
  'Quantity': 120},
 '108': {'Category': 'biscuit',
  'Company': 'Cadbury',
  'Name': 'oreo',
  'Price': 10,
  'Quantity': 100},
 '109': {'Category': 'choco-wafer',
  'Company': 'Cadbury',
  'Name': 'perk',
  'Price': 10,
  'Quantity': 140},
 '110': {'Category': 'nudles',
  'Company': 'Nestle',
  'Name': 'Maggie',
  'Price': 12,
  'Quantity': 240},
 '111': {'Category': 'nudles',
  'Company': 'Sunfeast',
  'Name': 'Yippee',
  'Price': 10,
  'Quantity': 180},
 '112': {'Category': 'chocolates',
  'Company': 'Cadury',
  'Name': 'Gems',
  'Price': 5,
  'Quantity': 230},
 '113': {'Category': 'pen',
  'Company': 'Rorrito',
  'Name': 'Rorrito',
  'Price': 40,
  'Quantity': 50},
 '114': {'Category': 'pen',
  'Company': 'Cello',
  'Name': 'Cello gel',
  'Price': 5,
  'Quantity': 150},
 '115': {'Category': 'pen',
  'Company': 'Bally',
  'Name': 'Bally-R',
  'Price': 3,
  'Quantity': 300},
 '116': {'Category': 'pencil',
  'Company': 'Nataraj',
  'Name': 'Nataraj',
  'Price': 5,
  'Quantity': 200},
 '117': {'Category': 'pencil',
  'Company': 'Camlin',
  'Name': 'Apsara',
  'Price': 7,
  'Quantity': 150},
 '118': {'Category': 'led pencil',
  'Company': 'camlin',
  'Name': 'Kokuyo camlin',
  'Price': 20,
  'Quantity': 100},
 '119': {'Category': 'notebook',
  'Company': 'Sundaram',
  'Name': 'classic',
  'Price': 20,
  'Quantity': 120},
 '120': {'Category': 'notebook',
  'Company': 'Classmates',
  'Name': 'Classmate',
  'Price': 40,
  'Quantity': 130},
 '121': {'Category': 'drink',
  'Company': 'Amul',
  'Name': 'Milk',
  'Price': 20,
  'Quantity': 100},
 '122': {'Category': 'd',
  'Company': 'Alfonso',
  'Name': 'Maaza',
  'Price': 50,
  'Quantity': 40},
 '123': {'Category': 'grossary',
  'Company': '--',
  'Name': 'sugar',
  'Price': 40,
  'Quantity': 100},
 '124': {'Category': 'hair oil',
  'Company': 'paratute',
  'Name': 'Paratute',
  'Price': 10,
  'Quantity': 100},
 '125': {'Category': 'hair oil',
  'Company': 'Bajaj',
  'Name': 'Bajaj',
  'Price': 30,
  'Quantity': 50},
 '126': {'Category': 'hair oiul',
  'Company': 'Bhringa',
  'Name': 'Indulekha',
  'Price': 150,
  'Quantity': 30},
 '127': {'Category': 'shampoo',
  'Company': 'vatika',
  'Name': 'Vatika',
  'Price': 5,
  'Quantity': 200},
 '128': {'Category': 'shampoo',
  'Company': 'patanjali',
  'Name': 'kesh kanti',
  'Price': 10,
  'Quantity': 100},
 '129': {'Category': 'oats',
  'Company': 'nestle',
  'Name': 'Oats',
  'Price': 30,
  'Quantity': 100},
 '130': {'Category': 'kurkure',
  'Company': 'balaji',
  'Name': 'Tedhe medhe',
  'Price': 10,
  'Quantity': 120}}

###**Purchasing Products**

In [6]:
import json
fc=open('record.json','r')
txt=fc.read()
fc.close()
product= json.loads(txt)

In [7]:
ui_prod = str(input("Enter the product_Id: ")) 
ui_quant = int(input("Enter the quantity: ")) 
print("Product: ", product[ui_prod]["Name"])
print("Price: ", product[ui_prod]["Price"]) 
print("Billing Amount: ", product[ui_prod]["Price"] * ui_quant) 
product[ui_prod]["Quantity"] = int(product[ui_prod]["Quantity"] - ui_quant)

Enter the product_Id: 101
Enter the quantity: 10
Product:  Parle-G
Price:  10
Billing Amount:  100

In [8]:
js = json.dumps(product)
fc=open('record.json','w')
fc.write(js)
fc.close()

# Sales

In [77]:
    sales={len(sales):{"product Name": product[str(ui_prod)]["Name"], "ProductId" : ui_prod, "Purchased Quantity" : ui_quant, "Billing Cost" :product[ui_prod]["Price"] * ui_quant},
       len(sales)+1:{"product Name": product[str(ui_prod)]["Name"], "ProductId" : ui_prod, "Purchased Quantity" : ui_quant, "Billing Cost" :product[ui_prod]["Price"] * ui_quant}}            
    print(sales)
    sales=json.dumps(sales)

    fd=open("sales.json",'w')
    fd.write(sales)
    fd.close()

    fd=open("sales.json",'r')
    sold=fd.read()
    fd.close()

    sales=json.loads(sold)

NameError: ignored